
body, html {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  background-size: auto;
  overflow: hidden;
}

canvas {
  display: block;
  padding: 0;
  margin: 0;
}

.cartoon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.titles {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;

}

h1 {
  font-size: 1.5em;
color: #696969;
font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;  letter-spacing: 2px;
  pointer-events: none;
  font-weight: 500;
  border: 0px;
  margin: 0px;
  text-align: center;
   -webkit-animation:colorchange 20s infinite alternate;
  /*color: #7a9fd0;*/

}
@-webkit-keyframes colorchange {
  0% {

    color: #F0F8FF;
  }

  10% {

    color: #F0FFFF;
  }

  20% {

    color: #FDA904;
  }

  30% {

    color: #F0FFFF;
  }

  40% {

    color: #F0FFFF;
  }

  50% {

    color: #F0FFFF;
  }

  60% {

    color: #FDA904;
  }

  70% {

    color: #F0FFFF;
  }
  80% {

    color: #F0FFFF;
  }

  90% {

    color: #F0FFFF;
  }

  100% {

    color: #F0FFFF;
  }
    }
a {
  /*color: #ffff66;*/
  color: #F0FFFF;

}
a1 {
  /*color: #ffff66;*/
  color: #F0FFFF;

}


.container4{
    font-size: 1.3em;
    position: inherit;
    z-index: 10;
    top: 10%;
    left: 5%;
    right: 3%;
    margin-top: 30%;
    margin-bottom: 40%;
    margin-left: 1.0%;
    margin-right: 2.0%;
    padding: 20px;
    border-radius: 4px;

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.5;
}

/* Set a specific color for each brand */

/* Facebook */


p {
font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 0.7em;
  text-align: center;
  color: #F0FFFF;
}

#particles-js{

  background-image: url("image.jpg");
  background-size: cover;
  background-position: bottom 600px;
  -webkit-fitler: blur(3px);
  filter: blur(3px);
  position: fixed;
  width:100%;
  height:100%;
  left:0px;
  top:0px;
  z-index:-999;
}


.bullets {
  color: black;
}

.social {
  color: white;

}

.fa{
  font-size: 1em;
}
