.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.outer {
  background-image: linear-gradient(0deg, #252B48 15%, #252B48 60%);
  min-height: 100vh;
  display: flex;
}

.section {
  display: flex;
  transition: 600ms ease;
  position: relative;
  z-index:1;
  margin-left: 0px;
  background-color: #61dafb;
  height: 25vh;
  width: 55vh;
  padding-left: 20px;
  opacity: 0%;
  padding-right: 20px;
  border-color: #082782;
  border-style: solid;
  margin-top: 10%;
  border-radius: 20px;
}

.section:nth-child(odd) {
  flex-direction: row-reverse;
  transform: translateX(100%);

}

.container {
  padding: 2rem;
  padding-bottom:400px;
  margin: 0 auto;
  max-width: 800px;
}

.topsection {
  text-align: center;
  padding:4rem 0;
  max-width: 600px;
  margin: 10 auto;
}

.circular--square { border-radius: 50%; }

.header {
  color:azure;

}

.content {
  color:#082782;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-text {
    animation: App-logo-spin step-start 20s ease-in;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: #9F0D7F;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
